workDir = "/mnt/immunocompnas1/projects/liver-met/processing/work"


params { 

    run_workflow = 'QC'
    samplesheet = "/home/adrianparrilla@vhio.org/nextflow/scRNA/samplesheet.csv"
    outdir = "/mnt/immunocompnas1/projects/liver-met/processing/results/"

    metadata = "/mnt/immunocompnas1/projects/liver-met/processing/samples_metadata_new.csv"
    filename = 'LiverMets'
    sample_key = 'sample'

    QC{
        data_pkl = "/mnt/immunocompnas1/projects/liver-met/processing/checkpoints/Liver_mets_demultiplexed_CB.pkl"
    }

    plot_QC{
        color_by = 'pool'
    }
    
    integration{
        n_genes = 2000
        label_key = 'cell_type'
        batch_key = 'pool'
    }


    
    }


// Processes

process {
    executor      = 'slurm'
    errorStrategy  = { task.exitStatus in [104, 134, 137, 139, 140, 143] ? 'retry' : 'terminate' }
    maxRetries = 2

    withLabel: 'samplesheet' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"

        queue          = 'franmartinez'
        cpus           = 1
        memory         = { 2.GB * task.attempt }
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_check_samplesheet'

    }

    withLabel: 'cellbender' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/cellbender.sif"
        containerOptions = "--nv"

        maxForks       = 3
        queue          = 'GPU'
        cpus           = 4
        memory         = { 40.GB * task.attempt }
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --gpus-per-task=1 --job-name=nf_cellbender'

    }

    withLabel: 'demultiplex' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"

        maxForks       = 3
        queue          = 'franmartinez'
        cpus           = 4
        memory         = { 10.GB * task.attempt }
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_demultiplex'

    }

    withLabel: 'run_QC' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"
        
        maxForks       = 6
        queue          = 'franmartinez'
        cpus           = 4
        memory         = {'8 GB' * task.attempt}
        time           = '2h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_QC'

    }


    withLabel: 'merge_adatas' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"

        queue          = 'franmartinez'
        cpus           = 4
        memory         = {'20 GB' * task.attempt}
        time           = '3h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_mergeAdatas'

    }


    withLabel: 'plot_QC' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"

        queue          = 'franmartinez'
        cpus           = 4
        memory         = {'15 GB' * task.attempt}
        time           = '2h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_plot_QC'

    }

    withLabel: 'integration' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/integration.sif"
        containerOptions = "--nv"

        queue          = 'GPU'
        cpus           = 16
        memory         = '50 GB'
        time           = '12h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --gpus-per-task=1 --job-name=nf_integration'

        publishDir = [
            path: {"${params.outdir}/integration"},
            mode: 'copy',
            overwrite: true
        ]
    }

    withLabel: 'integration_metrics' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/integration.sif"
        containerOptions = "--nv"

        queue          = 'GPU'
        cpus           = 4
        memory         = '60 GB'
        time           = '12h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --gpus-per-task=1 --job-name=nf_integration_metrics'

        publishDir = [
            path: {"${params.outdir}/integration"},
            mode: 'copy',
            overwrite: true
        ]
    }


    }


env {
    NUMBA_CACHE_DIR = '/tmp' 
    MPLCONFIGDIR = '/tmp'
    XDG_CACHE_HOME = '/tmp'
}

// Profiles

profiles {
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
}


// --- Pipeline Reports ---
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}